.sectionFive-container {
    position: relative;
    margin: 70px;
    height: 600px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(../../../assets/images/image17.png);
}

.sectionFive-container img {
    width: -webkit-fill-available;
}

.sectionFive-title {
    position: absolute;
    top: 30px;
    padding-inline: 30px;
    background-color: #000;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
}

.sectionFive-content {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    padding-inline: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionFive-content p {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;

}

.sectionFive-content h6 {
    font-family: var(--PlayfairDisplay);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 127%;
    text-align: center;
    color: #FFFFFF;
}

.sectionFive-content span {
    margin-top: 20px;
    font-size: 16px;
    color: #FFFFFF;
}