.sectionOne-container {
    padding: 40px 20px;
    text-align: center;
}

.sectionOne-container h6,
.sectionOne-container p {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.sectionOne-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionOne-left-part1 {
    padding-inline: 20%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: fit-content;
    padding: 6px 16Px;
    margin-bottom: 20px;
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    cursor: pointer;
    clear: both;
    transition: all 0.8s, color 0.3s 0.3s;
}

.title:hover {
    box-shadow: 300px 0 0 0 rgba(169, 49, 49, 0.5) inset;
}

.sectionOne-left-part1 h6 {
    font-family: var(--PlayfairDisplay);
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 127%;
    color: var(--primary-color);

}

.sectionOne-left-part1 p {
    font-family: var(--PlayfairDisplay);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 127%;
    color: var(--primary-color);
    margin-top: 20px;
}

span {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--primary-color);
}

.sectionOne-right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
}



.sectionOne-right-part1 p,
.sectionOne-right-part2 p {

    font-family: var(--PlayfairDisplay);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 127%;
    color: var(--primary-color);
    padding-right: 40px;
}

.sectionOne-container img {
    transition: all 0.3s linear;
}

.sectionOne-container img:hover {
    transform: scale(1.03);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .sectionOne-left-part1 {
        padding-inline: 8%;
    }

    .sectionTwo-container ul {
        flex-direction: column;
    }

    .sectionOne-left img {
        height: 330px;
    }

    .sectionOne-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .sectionOne-right-part1 div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}