@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

#light {
  --bg-color: #fff;
  --primary-color: #000;
  --secondary-color: #fff;
  --footer-input-bg: #F8F1E8;
  --hr-clr: #AEAEAC;
  --section-bg: #F8F1E8;
  --hover-clr: #74BDB1;
  --box-shadow: 0px 4px 5px 0px hsla(0, 0%, 0%, 0.14),
    0px 1px 10px 0px hsla(0, 0%, 0%, 0.12),
    0px 2px 4px -1px hsla(0, 0%, 0%, 0.2);

  --Roboto: 'Roboto';
  --PlayfairDisplay: 'Playfair Display';
}

#dark {
  --bg-color: #232323;
  --primary-color: #fff;
  --secondary-color: #000;
  --footer-input-bg: transparent;
  --hr-clr: #fff;
  --section-bg: #434241;
  --hover-clr: #74BDB1;
  --box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);

  --Roboto: 'Roboto';
  --PlayfairDisplay: 'Playfair Display';
}

.App {
  background-color: var(--bg-color);
}

.row {
  margin: 0;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}